.contenedor{
position: relative;
display: flex;
background: black;
align-items: center;
justify-content: center;
border-radius: 0.4em;
border: solid gold;

}

.img-responsive{
    border-radius: 1em;

}
