<div class="contenedor">
  <div class="row">

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" *ngFor="let Acercade of acerca">
        <img src="{{Acercade.imagenA}}" class="cat">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" *ngFor="let Acercade of acerca">
      <h4 id="nombre">{{Acercade.nombreA}}</h4>
      <p>{{Acercade.tituloA}}</p>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">

    <h1>Acerca de mí</h1>
    <p *ngFor="let Acercade of acerca">{{Acercade.acercadeA}} <button class="btn btn-light btn-sm" routerLink="/editacerca/{{Acercade.id}}" *ngIf="isLogged">
      <i class="bi bi-pencil-fill"></i></button>



      </div>
  </div>
  </div>
