<div class="row">
    <h1>Educación <h6><button name="button">+</button></h6></h1> 
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        
      <h4><img src="../../../assets/UNT2.png" id="logoedu"> Universidad Nacional de Tucumán</h4>
      <ul><li>Facultad de Ciencias Exactas y Tecnologías</li>
      <li>Ingeniería en computación - 70% de carrera</li></ul>
      <h4><img src="../../../assets/ArgentinaPrograma.jpg"id="logoedu"> Argentina Programa</h4>
      <ul><li>Argentina Programa - Primera etapa aprobada: #SéProgramar</li></ul>
      <h4><img src="../../../assets/Centros de Estudios del Tucumán.jpg" id="logoedu"> Centros de Estudios de Tucumán</h4>
      <ul><li>Técnico reparador de PC</li></ul>
      <h4><img src="../../../assets/Instituto Estrada.png" id="logoedu"> Instituto José Manuel Estrada </h4>
      <ul><li>Perito en técnicas bancarias e impositivas</li></ul>
  </div>
    </div>


