.row{
    padding: 10px;
   
}
div{
      text-align: center;
}

@media (min-width: 576px){
    #foto{
        position: absolute;
        width: 10%;
        border-radius: 100%;
        border: 0.2em solid gold;
        left: 3%;
        top:650px;
    }
}
@media (max-width: 575px){
    #foto{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        border: 0.2em solid gold;
        left: 34%;
        top: 630px;
    }
}

@media (max-width: 388px){
    #foto{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        border: 0.2em solid gold;
        left: 34%;
        top: 720px;
    }
}

#nombre{
    font-weight: bold;
    margin-top: 30%;
}
button{
    float: right;
    margin: 0.2em;
}
