.contenedor{
position: relative;
background: #02271b;
display: flex;
align-items: center;
justify-content: center;
border-radius: 0.4em;
border: 0.1em solid gold;
}

.img-responsive{
    border-radius: 1em;

}