.contenedor{
  border: solid gold;
  border-radius: 0.4em;
  background: black;
  color: white;
}

.row{
    margin: 0.2em;
}

button{
    float: right;
    border: 0.1em solid gold;
        }

h1, h6{
    display: inline;
}

td {
  color: white;

}

  img{

    max-width: 30%;
    max-height: 30%;
    border-radius: 100%;
    border: 0.1em solid gold;

    }

  .cat{
   height: 100px;
   width: 100px;
  }


